{{ template "header" }}
{{ template "sidebar" }}
<main> 
    <form novalidate id="add_job_form" method="post" onsubmit="onAddJob()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> <!--ms-sm-auto  -->
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-left pt-3 pb-4 pb-2 mb-4 border-bottom">
                        <h1 class="h2">Add jobs from your favorite job-search website</h1>
                        <button type="input" class="btn btn-primary">Add Job</button>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">  
                            <label for="title" class="form-label">Title*</label>
                            <input required type="text" class="form-control" id="title" minlength=3 maxlength=15>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="publishers" class="form-label">Publisher*</label> 
                            <div class="input-group">
                                <input required type="text" data-id="0" id="publishers" class="form-control" minlength=3 maxlength=15  placeholder="type for suggestions" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">  
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" minlength=0 maxlength=200></textarea>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="link" class="form-label">Link</label>
                            <input type="url" class="form-control" style="display: flex;justify-content: center;align-items:center;" id="link">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">  
                            <label for="publishedAt" class="form-label">Published on*</label>
                            <input required id="publishedAt" class="form-control" type="date" />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <!-- <label for="finished" class="form-label">Is the job offer finished?</label> -->
                            <label class="form-check-label mb-3" for="">Is the job position currently open?*</label>
                            <div style="display: inline; margin-left: 10px;">
                                <input class="form-check-input" type="checkbox" id="finished" onchange="finishedValueChanged('div1')"  checked>
                                <label class="form-check-label" for="finished">Yes</label>
                            </div>
                            <div class="col-lg-6 mb-3" id="div1" style="display:none">  
                                <label for="finishedAt" class="form-label">Finished on*</label>
                                <input id="finishedAt" class="form-control" type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">  
                            <label for="companies" class="form-label">Company name*</label> 
                            <div class="input-group">
                                <input required type="text" data-id="0" id="companies" minlength=3 maxlength=15 name="input_with_suggestions" class="form-control" placeholder="type for suggestions" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="company-sizes" class="form-label">Company size*</label>  
                            <select class="form-select" id="company-sizes" aria-label="Default select example">
                                {{ range .CompanySizes }}
                                <option class="option" data-id="{{ .ID }}">{{ .Name }}</option>  
                                {{ end }} 
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">
                            <label for="english-levels" class="form-label">English level*</label>  
                            <select class="form-select" id="english-levels" aria-label="Default select example">
                                {{ range .EnglishLevels }}
                                <option class="option" data-id="{{ .ID }}">{{ .Level }}</option>  
                                {{ end }} 
                            </select>
                        </div>

                        <div class="col-lg-6 mb-3" >
                            <label for="schedules" class="form-label">Work schedules*</label>  
                            <select class="form-select" id="schedules"aria-label="Default select example">
                                {{ range .Schedules }}
                                <option class="option" data-id="{{ .ID }}">{{ .Name }}</option>  
                                {{ end }} 
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="number" min="0" max="999999" class="form-control" id="salary">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="experience" class="form-label">Years of experience</label>
                            <input type="number" class="form-control" id="experience" min="0" max="100" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">
                            <label for="programming-skill-names" class="form-label">Programming skills*</label>
                            <div class="input-group">
                                <input type="text" id="programming-skill-names" minlength=0 maxlength=30 name="input_with_suggestions" class="form-control me-1" placeholder="type for suggestions" autocomplete="off">
                                <button type="button" class="btn btn-secondary btn-sm" onclick="onAddNewProgSkillBtnClick('programming-skill-names','programming-skill-table')">Add new</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="personal-skill-names" class="form-label">Personal skills*</label>
                            <div class="input-group">
                                <input type="text" id="personal-skill-names" name="input_with_suggestions" minlength=0 maxlength=30 class="form-control me-1" placeholder="type for suggestions" autocomplete="off">
                                <button type="button" class="btn btn-secondary btn-sm" onclick="onAddNewProgSkillBtnClick('personal-skill-names','personal-skill-table')">Add new</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 mb-3">
                            <table id="programming-skill-table" name="tags">
                                <thead>
                                    <tr>
                                        <th>Selected</th>
                                    </tr>
                                </thead>
                                <tbody id></tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <table id="personal-skill-table" name="tags">
                                <thead>
                                    <tr>
                                        <th>Selected</th>
                                    </tr>
                                </thead>
                                <tbody id></tbody>
                            </table>
                        </div>
                    </div>
                </div>  
            </div>   
        </div>  
    </form>
    <!-- Modal -->
    <div class="modal fade" id="add_job_modal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitle">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="modalContent">This is a vertically centered modal.</p>
            </div>
            <div class="modal-footer">
              <button id="close_modal_bttn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</main>
{{ template "footer"}}
